<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--ログフォルダパス-->
    <add key="LogDir" value="E:\実行環境\CSV_Edit_Ex\log" />
    <!--取込フォルダパス-->
    <add key="InputDir" value="E:\実行環境\CSV_Edit_Ex\in" />
    <!--出力フォルダパス-->
    <add key="OutputDir" value="E:\実行環境\CSV_Edit_Ex\out" />
    <!--Excel出力フォルダパス-->
    <add key="ExcelOutputDir" value="E:\実行環境\CSV_Edit_Ex\out_ex" />
    <!--バックアップフォルダパス-->
    <add key="BackDir" value="E:\実行環境\CSV_Edit_Ex\back" />
    <!--マスタファイル-->
    <add key="MasterFile" value="E:\実行環境\CSV_Edit_Ex\Master.csv" />
    <!--その他出力フォルダパス-->
    <add key="ExtOutputDir0" value="E:\実行環境\CSV_Edit_Ex\out2" />
    <add key="ExtOutputTri0" value="" />
    <add key="ExtOutputDir1" value="E:\実行環境\CSV_Edit_Ex\out3" />
    <add key="ExtOutputTri1" value="" />

    <!--事業所コード-->
    <add key="HospCd" value="MSI" />

    <add key="StudyDate_Pre" value="2017/11/" />

    
    <!--返却日付（土日を除く）-->
    <add key="ReturnDay" value="0" />
    <!--祝日一覧ファイル（指定なし：土日のみ）-->
    <add key="ExtraDayList" value="E:\実行環境\CSV_Edit_Ex\shuku.txt" />

    <!--Excel 設定項目-->
    <add key="PatIDCol" value="2" />
    <add key="PatSexCol" value="8" />
    <add key="StudyDateCol" value="3" />
    <add key="BirthDayCol" value="6" />


    <!--CSV Excel 紐付け設定項目-->
    <add key="CSVCol0" value="0" />
    <add key="ExcelCol0" value="5" />
    <add key="CSVCol1" value="1" />
    <add key="ExcelCol1" value="4" />


  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>