.Color_CR{
    background-color:#BFFFFF;
}
.Color_RF{
    background-color:#FFFF80;
}
.Color_MG{
    background-color:#D0A2FF;
}
.Color_CT{
    background-color:#B5FFB5;
}
.Color_MR{
    background-color:#EFB6EB;
}
.Color_DR{
    background-color:#FFFF00;
}
.Color_NM{
    background-color:#808080;
}

.Color_RI{
    background-color:#808080;
}

.Color_PT{
    background-color:#A0A09A;
}

.Color_RG{
    background-color:#C86A97;
}

.Color_OT{
    background-color:#C0C0C0;
}

.Color_XA{
    background-color:#FEC48F;
}

.Color_US{
    background-color:#FFFFFF;
}
