<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBRemote" connectionString="Server=localhost;Port=5432;Database=ordertool_reception;User Id=postgres;Password=operator;Preload Reader=true;" providerName="Npgsql"/>
  </connectionStrings>
  <appSettings>
    <add key="LogDir" value="E:\実行環境\Log"/>
    <add key="CsvDir" value="E:\実行環境\CSV"/>
    <add key="MastDir" value="E:\実行環境\Mast"/>
    <add key="Image00" value="E:\実行環境\OrderTool_Recept\files\00"/>
    <add key="Image01" value="E:\実行環境\OrderTool_Recept\files\00"/>
    <add key="Image02" value="E:\実行環境\OrderTool_Recept\files\02"/>
    <add key="WorkDir" value="E:\実行環境\OrderTool_Recept\files\Work"/>
    <add key="BackDir" value="E:\実行環境\OrderTool_Recept\files\back"/>
    <add key="CutDir" value="E:\実行環境\OrderTool_Recept\files\cut"/>
    <add key="ImageDir" value="E:\実行環境\OrderTool_Recept\files\Strage"/>
    <add key="ImageURL" value="http://localhost/Image"/>
    <add key="InputCSVDir" value ="E:\実行環境\CSV"/>

    <add key="OwnFile" value="E:\実行環境\OrderTool_Recept\files\ini\HospitalNameList.ini"/>
    <add key="FAXFile_Intro" value="E:\実行環境\OrderTool_Recept\files\ini\IntroHospitalFaxList.ini"/>
    <add key="MailFile_Intro" value="E:\実行環境\OrderTool_Recept\files\ini\IntroHospitalMailList.ini"/>
    <add key="ContactPath" value="E:\実行環境\OrderTool_Recept\files\ini"/>

    <add key="CheckCutDir" value="E:\実行環境\OrderTool_Recept\files\check"/>

  </appSettings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.2.5.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--<identity impersonate="true" />-->
  </system.web>
</configuration>